<div class='container'>
  <div class='panel'>
    <div class='panel-heading text-center'>
      <h1>EVENTS</h1>
    </div>
    <div class='panel-body'>
      <p style='text-align: center'>Come join us for International NodeBots Day, July 25th!</p>
    </div>
  </div>
  <div class='panel'>
    <div class='panel-heading text-center'>
      <h1>NODEBOTS DAY 2015</h1>
    </div>
  </div>
  <div class='thumbnail'>
    <div class='caption'>
    <img src="/images/nodebots-logo.png">
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class='panel'>
        <div class='panel-heading' id='headingOne'>
          <h5>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            DETAILS
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>WHEN : July 25, 2015, TIME : Noon - 4:00pm </p>
        <p>WHERE : <a target="_blank" href="https://www.google.com/maps/place/Turing+School+of+Software+%26+Design/@39.7497291,-104.9999798,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c4f77d2b15:0x3ff4c7d558d0edd1">Turing School of Software & Design</a></p>
        <p>WHAT TO BRING :</p>
         <li>A laptop (preferably a Mac if you have the option)</li>
         <li>If you have your own hardware, feel free to bring it, but it's certainly not required.</li>
         <form action='/rsvp' id='rsvp-form' method='post'>
          <input class='form-control' type='text' name='name' placeholder="what's your name?">
          <input type='submit' value='RSVP' id='rsvp-btn' class='btn btn-block btn-blue'>
         </form>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>